{
    {
        type: bitList,
        size: 2,
        data_content: {
            {
                type: bit,
                type: operator,
                operator_type: nand,
                args_content: {
                    {
                        type: bitList,
                        size: 2,
                        data_content: {
                            {
                                type: bit,
                                type: variable,
                                variable_type: constant,
                                variable_value: 1
                            },
                            {
                                type: bit,
                                type: variable,
                                variable_type: constant,
                                variable_value: 0
                            },

                        }
                    }
                }
            },
            {
                type: bit,
                type: operator,
                operator_type: nop,
                args_content: {
                    {
                        type: bitList,
                        size: 0,
                        data_content: {}
                    }
                }
            },

        }
    }
}
